body{background: #2a2a2a; color: #ffffff;}
*{padding: 0; margin: 0; text-decoration: none; list-style: none; box-sizing: border-box;}

	.wrapper
	{display: flex; position: fixed;}

	.wrapper .sidebar
	{width: 50px; height: 200%; padding-top: 6px; background: #2d2d2d; position: fixed;}

	.wrapper .sidebar ul li 
	{padding: 16px; border-bottom: 1px solid #91a666; border-bottom: 0px;border-top: 0px;}

	.wrapper .sidebar ul li a
	{color: #fff; display: flex;}

	.wrapper .sidebar ul li:hover
	{background-color: #91a666; transition: 0.6s; border-radius: 3px;}

	.wrapper .sidebar ul li:hover a
	{color: #fff}
	
	.lines
	{font-size: 32px; margin-top: -6px;}
		.lines:hover
	{ background-color: #91a666;}
	
		.logo
	{color: #8fa875; line-height: 80px; margin-left: 75px; margin-top: 13px; }

	.wiki_content 
	{width: 74%; margin-left: 13%;}

	.code table tr
	{display: flex; border-radius: 9px; background-color: #1a1a1a; font-family: monospace;}

	.wp
	{ display: flex; padding-left: 79px; padding-top: 96px;}

	body
	{font-family: sans-serif;}

	nav
	{background: #2f2f2f; height: 66px; width: 100%; position:fixed;}

	label.logo
	{color: #8fa875; line-height: 80px; padding: 110 100px;}

	nav ul
	{float: right;}

	nav ul li
	{display: flex;line-height: 80px; margin: 0 5px;}

	nav ul li a
	{color: #fff; font-size: 17px; padding: 7px 13px; border-radius: 3px;}

	.checkbtn
	{ color: #fff; float: left; line-height: 60px;
	 margin-left: 13px; cursor: pointer; display: flex; position: fixed; padding-top: 9px;}

	#check
	{display: none;}

	.checkbtn i
	{padding-top: 13px;font-size: 26px;}

	nav ul
	{position: fixed; width: 200px; height: 100vh; background: #2d2d2d;
	 top: 60px; left: -100%; text-align: left; padding-left: 13px; transition: 0.6s;}

	nav ul li
	{display: flex; line-height: 34px; border-radius: 6px;}

	nav ul li:hover
	{background: #91a666; transition: 0.6s;}

	nav ul li a
	{font-size: 16px; vertical-align: middle;}

	#check:checked ~ ul
	{left: 36px;}

	td
	{padding-right: 16px;padding-left: 16px;}
